.header-browse{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: all .2s;
    z-index: 1;
}
.black-header{
    background-color: #141414;
}
.logo{
    width: 167px;
    z-index: 1;
    fill: #e50914;
    margin: 40px;
}
.ctn-btn-entrar button{
    background-color: #e50914;
    color: white;
    cursor: pointer;
    border: none;
    width: 77px;
    height: 32px;
    font-size: 16px;
}
.ctn-btn-entrar button:hover{
    background-color: #f40612;
}
.ctn-btn-entrar{
    z-index: 1;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logout{
    height: 100px;
    background-color: black;
    color: white;
    padding: 10px;
    opacity: 0;
    transition:all .3s;
}
.ctn-btn-entrar:hover .logout{
    opacity: 1;
}